.customer-list {
  display: inline-flex;
}
.customer-item {
  margin-right: 30px;
  &:nth-child(6n) {
    margin: 0px;
  }
}

.customer-link {
  display: flex;
  width: 170px;
  height: 92px;

  padding: 16px 32px;
  border: 1px solid var(--color-icon);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    .customer-icon {
      fill: var(--accent-color);
    }
  }
}

.customer-icon {
  display: flex;
  height: 60px;
  width: 106px;
  fill: var(--color-icon);
  transition: fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
