.flex-spec {
  width: 270px;
  margin-right: 30px;
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:nth-child(4n) {
    margin: 0px;
  }
  &:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }
}

.team-list {
  display: flex;
}

/* Team */
.face {
  display: block;
  max-width: 100%;
}
.sections {
  background: #f5f4fa;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.prof {
  padding: 30px 0;
}
.profession {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 16px;
}
.specialist {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Social team */

.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  display: flex;

  margin-right: 10px;
  &:nth-child(4n) {
    margin: 0px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-icon);
  background-color: var(--primary-white-color);
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}
.social-icon {
  width: 20px;
  height: 20px;
}
