:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --br-fone: #2f303a;
  --color-icon: #afb1b8;
  --secondary-color-transparenсy: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
$button-hover: #188ce8;
$border-header-color: #ececec;
